
@model TestTaskMVC.Models.CombinedModel
 
@foreach (var coin in Model.Coins)
{
    <button class="btn btn-sm btn-primary coin-button" onclick="CoinChange('@coin.Id','@coin.Value','@coin.Quantity','@coin.Access')">+@coin.Value руб</button>

}